// tmavy gradient
CoverImageGradientOverlay = linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6) 25%)

// svetly gradient
// CoverImageGradientOverlay = linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.3) 25%);

OverlayTextColor = #fff

OverlayTextShadow = none
// pridat perexu "obtazeni"
// OverlayTextShadow = -1px -1px 0px #d3, -1px 1px 0px #d3, 1px -1px 0px #d3, 1px 1px 0px #d3

ScrollButtonRightFromCenter = 0px


// SEM UZ JE LEPSI NESAHAT

MediaSmallScreen = "screen and (max-width: 1023px)"
MediaMobile = "screen and (max-width: 767px)"

@import 'template/fonts.styl'
@import colors
@import prefixes
@import 'components/triangle'

@import basics
@import 'template/header.styl'
@import 'template/opener.styl'
@import 'template/main.styl'
@import 'template/footer.styl'
@media screen and (min-width: 1023px)
  .highcharts.zavislost
    margin-top -40px 

main #content > table
  td:first-child
    background #fa
